*.dia
*.log
*.DS_Store
*.o
*.d
*.cmake
*.bin
*.xcscheme
*.a
*.LinkFileList
dgph
*.makeDebug
*.dat
*.makeRelease
*.make
*.sh
*.txt
dgph~
CompilerIdC
CompilerIdCXX
*.makeMinSizeRel
*.makeRelWithDebInfo
AutoGenShaders.cpp
*.plist
*.check_cache
osgearth_viewer_iosd
CodeResources
osgearth_viewer_iosd.app.xcent
PkgInfo
embedded.mobileprovision
*.xcuserstate
*.xcsettings



