<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Documentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>130</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>application_osgearth_3pv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>application_osgearth_annotation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>application_osgearth_atlas.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>application_osgearth_backfill.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>application_osgearth_boundarygen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>application_osgearth_cache.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>application_osgearth_cache_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>113</integer>
		</dict>
		<key>application_osgearth_city.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>101</integer>
		</dict>
		<key>application_osgearth_clamp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>application_osgearth_clipplane.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>112</integer>
		</dict>
		<key>application_osgearth_colorfilter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>105</integer>
		</dict>
		<key>application_osgearth_computerangecallback.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>120</integer>
		</dict>
		<key>application_osgearth_controls.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>97</integer>
		</dict>
		<key>application_osgearth_conv.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>application_osgearth_createtile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>application_osgearth_datetime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>116</integer>
		</dict>
		<key>application_osgearth_deformation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>122</integer>
		</dict>
		<key>application_osgearth_elevation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>application_osgearth_ephemeris.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>119</integer>
		</dict>
		<key>application_osgearth_featurefilter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>application_osgearth_featureinfo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>application_osgearth_featurequery.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>103</integer>
		</dict>
		<key>application_osgearth_features.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>application_osgearth_fog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>110</integer>
		</dict>
		<key>application_osgearth_graticule.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>102</integer>
		</dict>
		<key>application_osgearth_horizon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>application_osgearth_http.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>application_osgearth_imageoverlay.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>100</integer>
		</dict>
		<key>application_osgearth_infinitescroll.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>126</integer>
		</dict>
		<key>application_osgearth_lights.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>124</integer>
		</dict>
		<key>application_osgearth_los.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>88</integer>
		</dict>
		<key>application_osgearth_manip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>application_osgearth_map.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>application_osgearth_measure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>96</integer>
		</dict>
		<key>application_osgearth_minimap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>107</integer>
		</dict>
		<key>application_osgearth_mrt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>109</integer>
		</dict>
		<key>application_osgearth_noisegen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>125</integer>
		</dict>
		<key>application_osgearth_occlusionculling.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>104</integer>
		</dict>
		<key>application_osgearth_overlayviewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>application_osgearth_package.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>application_osgearth_pagingtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>117</integer>
		</dict>
		<key>application_osgearth_pick.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>114</integer>
		</dict>
		<key>application_osgearth_sequencecontrol.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>106</integer>
		</dict>
		<key>application_osgearth_shadercomp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>98</integer>
		</dict>
		<key>application_osgearth_shadergen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>111</integer>
		</dict>
		<key>application_osgearth_sharedlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>108</integer>
		</dict>
		<key>application_osgearth_skyview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>121</integer>
		</dict>
		<key>application_osgearth_splat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>128</integer>
		</dict>
		<key>application_osgearth_srstest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>123</integer>
		</dict>
		<key>application_osgearth_terrainprofile.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
		<key>application_osgearth_tfs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>application_osgearth_tileindex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>application_osgearth_tilesource.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>99</integer>
		</dict>
		<key>application_osgearth_toc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>application_osgearth_tracks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>application_osgearth_transform.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>application_osgearth_version.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>application_osgearth_video.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>127</integer>
		</dict>
		<key>application_osgearth_viewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>application_osgearth_viewer_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>131</integer>
		</dict>
		<key>application_osgearth_wfs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>115</integer>
		</dict>
		<key>application_osgearth_xfbtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>118</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>lib-build.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>132</integer>
		</dict>
		<key>osgEarth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>osgEarthAnnotation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>osgEarthFeatures.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>osgEarthSplat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>osgEarthSymbology.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>osgEarthUtil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>osgdb_earth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>osgdb_fastdxt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>osgdb_kml.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>osgdb_osgearth_agglite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>osgdb_osgearth_arcgis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>osgdb_osgearth_arcgis_map_cache.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>osgdb_osgearth_bing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>osgdb_osgearth_bumpmap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>osgdb_osgearth_cache_filesystem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>osgdb_osgearth_colorramp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>osgdb_osgearth_debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>osgdb_osgearth_detail.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>osgdb_osgearth_engine_byo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>osgdb_osgearth_engine_mp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>osgdb_osgearth_engine_rex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>osgdb_osgearth_feature_elevation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>osgdb_osgearth_feature_ogr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>osgdb_osgearth_feature_raster.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>osgdb_osgearth_feature_tfs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>osgdb_osgearth_feature_wfs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>osgdb_osgearth_feature_xyz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>osgdb_osgearth_featurefilter_intersect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>osgdb_osgearth_featurefilter_join.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>osgdb_osgearth_gdal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>osgdb_osgearth_label_annotation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>osgdb_osgearth_mapinspector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>osgdb_osgearth_mask_feature.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>osgdb_osgearth_mbtiles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>osgdb_osgearth_model_feature_geom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>osgdb_osgearth_model_simple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>osgdb_osgearth_monitor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>osgdb_osgearth_noise.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>osgdb_osgearth_ocean_simple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>osgdb_osgearth_osg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>osgdb_osgearth_quadkey.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>osgdb_osgearth_refresh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>osgdb_osgearth_scriptengine_javascript.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>osgdb_osgearth_sky_gl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>osgdb_osgearth_sky_simple.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>osgdb_osgearth_skyview.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>osgdb_osgearth_splat_mask.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>osgdb_osgearth_template_matclass.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>osgdb_osgearth_terrainshader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>osgdb_osgearth_tilecache.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>osgdb_osgearth_tileindex.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>osgdb_osgearth_tileservice.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>osgdb_osgearth_tms.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>osgdb_osgearth_vdatum_egm2008.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>osgdb_osgearth_vdatum_egm84.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>osgdb_osgearth_vdatum_egm96.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>osgdb_osgearth_viewpoints.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>osgdb_osgearth_vpb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>osgdb_osgearth_wcs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>osgdb_osgearth_wms.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>osgdb_osgearth_xyz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>osgdb_osgearth_yahoo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>osgdb_template.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>package.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>test_osgEarth_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>129</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0154B57B8A4A4854BE8A9296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>02F72F02448B49FDAB0B1FB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09EF55F7B92B4404A701923D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C3376DC5184432691BD055B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D1511EBCBB14C54AE78CDBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E37FF320955466CB58AA246</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0FFE9154253C4CBEBAB64D1D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>127DDB5F47714FB3A650D278</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1618FF46199742F58A85581C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>162498D516704D208911104C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181B1C11D1C64851B649D166</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18897B3D02324F7892C35A41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18A28FF00ACD454FB197D5F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>197AAD08E5114127A1BA8FAA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1B9A17A114EA4928BD8E13FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C309035B1814F669CAFE799</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C95EB2C1E3A4C4CAE3E41BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D4546E2B83E43E8853378F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F938EB0D8B94E61B2DDAE7E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22BB671E011744E9B9DFD668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23996BEEA6A04162A8354B38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>243702A3225240A59DDF8E2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>27E3B3FEF975459C947BFC8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>297DFBECD00249DE8F49E77D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A1AF7B931CC417093869F76</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A5DDF46237349C6B5780A0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B94F6A88F72460395EEF05A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2C32F1CF2EFB4D24BB9F6131</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31A9BDB308EB45E5BDFA0AEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33E148B3F6CE42559B5A541A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34AEED46ACC542C7B9C45C53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>355321BD8FE14E87AB142352</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A56FA868F454678BF3EB84D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AB0E99C80264C9F98054C99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>418FE56C486A478F97D1C388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4522ADE3D594461EAD0D8979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4752B05562C44FB4BD644465</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49814EF2D9994D6F9095316F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C591588F7874DFCB5574B62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5018590CE3CE4381938467A9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51659FC1F0BF46B9A6EEA6E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53CC29BBB01B476B8EDFEED7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>550599825973417A95BF6328</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AA1FFD67BC5446AB9BC0D38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C00FC69699D43BCA3656CF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E2DC2AAC15041ACBE9A72D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5ED4726E08E54285B01504DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6056779171044B73894C9F90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6124DAEBD3DF4387B284EF38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6259AEECBD954642B53C3E0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6261F12959B142D6A41BCADD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64A60F7E7D594F4EBD23286B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64B335B2F02B4C25A85073D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>673C8411A352458DA02B5A36</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>676654F51D714E88882DE281</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A10B75DA2DE4840ADF067D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AD0D991BF1A4D07B8A6FDD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6AD9D8D2F7A34003AA16B1E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75CA3CCECB784F7FB66C0A6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7792E8211F3B4DB3A9A81328</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7BAF1BA387E147588C1FF88E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81C1DBEADCDB4CBFA24B65AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81CC8ADB9D4344939DCD4B55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81FA849E923043C79B403F92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>835CF9F283FF4DD1B4F1795C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>841B623D308A4B5CB639BCD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>846E11DC612949FC886048EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>869D42CC598B46B2883E4124</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>87B5204B1EDB4FA3993A04FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8887825CE91C4111B5EF3965</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B5F7D02B73A4DF3B10BBC85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8B727D4DA6C642A1806CC96C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D8F2BCD8A9047B883E49F8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E49DC042CAB4490AB1DA3E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>936181F8D04E415589CE5179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9489A95806F44437B1B0DC34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>985A6CE2E82C4B5EB7264757</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A01B84B43A74F4FA21E8D8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A1C08376041417BB2B12825</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C6644E400054BD9AD28E443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E8832E705CA45DB99D13FE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EA2433F4E2D4A5D9ECDFA77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F41BBF18023481C9EC5CC99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F917034A65342A183FAAB43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FB50DA967C047068E499FFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9FCD528D6D5F462898AB2176</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A07AB8B3F0A34BADAAC951D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A25D3971377D47EE84326BAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A80DAD660DB1411FAC23499F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0BA61B4983A45A28BB4F41E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B1DB478ADEFA4BECA26DC14A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF6AA24D81E549C0B7AE0334</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2EB921E78E34B86AD330A74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C43F5C2B97B74502B5A210F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4747D6EB375457790C778BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4B378D0C76645179DFE231D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C59BACF91FA0885800FAC9AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5B220DE6EAB4FA79FD1FA81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C61592E45D7B40A7BD38AB93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C6F3D157525C4D3C80563806</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8B3C26F983548718D4131A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA93911C5E1446C5B3E5D67A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAF48311418844978CFAE5C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCC20326400F41DF9D5E3C0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD65245511E441118CB31205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDDA96C9D38B4BAC8022238B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE852CF8CCE74C50B57C8849</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D113193CC9D54113B03EA5A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5C074E076D749B8A9186AD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D798C2ECBE7740E082BE6817</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DACC81B3B31B4075874002F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEB011F6ABB7466CBE267DAC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEF66719F17A4D4393ECAD59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E06D80063EA94CE7BE8B07C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E852F9F17D124E8C9F54C643</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E943631CDE534C1FBC1C2BB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA2CBB128C72472FB44797B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECDEC45FC6B64BFBA6B87BB9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF5AD326A3E146CC9EACAB3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF91A27DC6B748AFBBFF091C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F06763325D0645079D49E4C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2C0DE8096B647AB9905D923</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F70D42323791479FB6D13CD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F84022CB38EA4F6C9FF033CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F86395A85E3D43419E7749A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9290F4557FF45C1B7A8EF4E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9597B7A07CA4561890B8113</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9C1C9B0D8F34763919C558F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC22187FD8C44B989E3B54B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD31FD87D123441C848B3863</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE3B45D3F52646B3965B4710</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FEE50F73D7CB4C7ABEA42B3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFCDE850D72B42679A1A0DD3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
